/.emacs.d/url/
/.emacs.d/history
/.emacs.d/site-lisp/
/.emacs.d/elpa/
/.emacs.d/projects
/.emacs.d/recentf
/.emacs.d/straight/
/.emacs.d/eaf/
/.emacs.d/backups/
/.emacs.d/eshell/
/.emacs.d/places
/.emacs.d/tramp
/.emacs.d/transient/
/.emacs.d/bookmarks
/.emacs.d/auto-save-list/
/.emacs.d/.dap-breakpoints
/.emacs.d/.lsp-session-v1
/.emacs.d/.mc-lists.el
/.emacs.d/.org-id-locations
/.emacs.d/eclipse.jdt.ls/
/.emacs.d/logview-cache.extmap
/.emacs.d/.cache/
/.emacs.d/.pdf-view-restore
/.emacs.d/org-roam.db
/.emacs.d/tree-sitter/
/.emacs.d/eyebrowse-restore/
/.emacs.d/eln-cache/
